h1 {
    background:#15171A;
    color:#CDCE9E;
    margin:0 0 15px;
    padding:15px;
    text-align:center;
    font-size:3em;
}
h2 {
    border-bottom:1px solid #000;
    margin-bottom:15px;
}
.list-group {
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background: #D22F29;
}
.list-group li {
    flex: 1;
    border:1px solid #000;
    padding:10px;
    text-align:center;
    color:#E0DFAB;
}

#shot-message {
    background: #938275;
    padding:10px;
    color: #fff;
}

.message-container {
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.message-container h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.scoreboard-container {
    padding: 0 15px 25px;
}

.green-bg {
    background: #4A7B42;
}
.activeScoreboard {
    background: #4e6f49;
    color:#fff;
}

.btn-container {
    background:#CDCE9E;
}

.flex-list {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.flex-list li {
    flex:1;
    text-align: center;
}
.btn-success {
    background: #4A7B42;
    border-color: #17181C;
}

#player-one-scoreboard, #player-two-scoreboard {
    padding-bottom: 15px;
}

#player-two-score, #player-one-score {
    text-align:center;
    font-weight:bold;
    font-size:20px;
}

@media screen and (max-width:767px) {
    .message-container {
        flex-direction:column;
        align-items: center;
    }
    .flex-list {
        flex-wrap: wrap;
    }
    .flex-list li {
        margin: 15px;
    }
}